# Copy to local.properties and set sdk.dir to your Android SDK path.
# Example (Windows): sdk.dir=C\:\\Users\\you\\AppData\\Local\\Android\\Sdk
sdk.dir=C\:\\Users\\happy\\AppData\\Local\\Android\\Sdk
